<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Student</button>
    </div>
    <hr><hr>
    <div class="col-xs-12">
        <div  *ngFor="let std1 of std">
            <div class="row">
                <div class="col-xs-8">
                    <h4 class="list-group-item-heading">{{ std1.name }}</h4>
                </div>
                <div class="col-xs-4">
                    <p class="list-group-item-text">{{std1.classes}}</p>
                </div>
            </div>
        </div>
    </div>
</div>